.volumeContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 50px;

  @media (max-height: 700px) {
    position: static;
    margin: 40px 0;
  }
}

.volumeIcon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.volume {
  margin: 0 10px;
  width: 120px;
}

input.volume[type="range"] {
  accent-color: var(--primary);
}

.fill {
  fill: var(--text);
}
