:root {
  --bg-color: #cfe2e0;
  --white: #ffffff;
  --black: #2e2e2e;
  --gray: #3c3c3c;
  --primary: #0e8388;
  --primary-hover: #11969b;

  --text: var(--black);
  --timer-bg: var(--white);
  --time-setter-bg: var(--white);
  --theme-bg: var(--black);
  --theme-bg-hover: var(--gray);

  --font-mono: "Azeret Mono", monospace;
  --font-sans: "Quicksand", sans-serif;

  --bg-image: url('../assets/images/bg-light.jpg');
}
