/* colors */

$bg-color: #cfe2e0;
$primary: #0e8388;
$primary-hover: #11969b;
$white: #ffffff;
$black: #2e2e2e;

/* fonts */

$font-sans-serif: "Quicksand", sans-serif;
$font-mono: "Azeret Mono", monospace;
