.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

h1 {
  font-size: 50px;
}

.fill {
  fill: var(--text);
}
