@import "./styles/_variables.css";

* {
  padding: 0;
  margin: 0;
  user-select: none;
  text-align: center;
  font-family: var(--font-sans);
}

body {
  color: var(--text);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
a {
  -webkit-tap-highlight-color: transparent;
}
